
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div class="container">
    <div class="row">
        <h3 class="titulo">Entrar no Sistema</h3>
    </div>
    <div class="row">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Conta", new { ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new { @class = "form-ho"}))

        </section>
    </div>
</div>
